<!DOCTYPE html>

  <html ng-app>
  
    <head>
    <meta charset="utf-8"> 
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.js"></script>
    
      <script>
        function ctrl($scope) {
          $scope.sumar = function(item){
            item.count += 1;
            if(count===5){
            	count='max';
            }
          }
        }
        
      </script>
    </head>
  
    <body ng-controller="ctrl">
      <div ng-init="items = [{count:1}]">
        <ul>
          <div ng-repeat="item in items">
            <h1><span>{{item.count}}</span></h1>
            <h1><span ng-show="item.count>4">Has llegado al número máximo permitido</span></h1>
            <button ng-show="item.count<5" ng-click="sumar(item);">+1</button>
          </div>
        </ul>
      </div>
    </body>
  
  </html>
