body {
  display: block;
}

.pane {
  background-image: url('https://static.pexels.com/photos/2773/city-skyline-skyscrapers-top.jpg');
  display: block;
  position: fixed;
  background-size: cover;
  z-index: -1;
  -webkit-filter: blur(5px);
  -moz-filter:  blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.espaciado {
letter-spacing: 0.5em;
}
.no_espaciado {
letter-spacing: 0em;
text-align: left;
}

.impactante {
  	color: #404040;
  	letter-spacing: 4dp;
  	font-size: 48px;
}

#icon_coche:active {
    color: #404040;
    coches.visibility: visible;
}

#iCar:focus ~ #pop_coches {
  display: block;
}
#iInfo:focus ~ #pop_coches {
  display: none;
}
#iForm:focus ~ #pop_coche{
	display: none;
}


#iCar:focus ~ #pop_about {
  display: none;
}
#iInfo:focus ~ #pop_about{
  display: block;
}
#iForm:focus ~ #pop_about{
	display: none;
}


#iCar:focus ~ #pop_form {
  display: none;
}
#iInfo:focus ~ #pop_form {
  display: none;
}
#iForm:focus ~ #pop_form{
	display: block;
}

#pop_coches{display:none;}
#pop_about{display:none;}
#pop_form{display:none;}